.main{
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    transition:transform .5s ,height .2s ease;
    transform: scale(0);
}

.main.active-popup{
    transform: scale(1);
    
}

.main .form-box.Login{
    transition: .18s ease;
}

.main .form-box.Login{
    transition: .18s ease;
}
.main.active .form-box.Login{
    transform: translateX(-360px);

}

.main.active .form-box.register{
    transform: translateX(0px);
}

.form-box.Login h2{
    font-size: 2em;
    color: #162938;
    text-align: center;
}


.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    
    border-bottom:1px solid #162938;
}

.input-box input::placeholder{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 17px;
    color: #162938;
}

.input-box input{
    font-size: 22px;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
}

.remember-forget{
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: 15px 0 15px;
    display: flex;
    justify-content: space-between
}

.remember-forget label input{
    accent-color: #162938;
    margin-right: 3px;
}

.remember-forget a{
    color: #162938;
    text-decoration: none;
}

.remember-forget a:hover{
    text-decoration:underline;
}

.btnn{
    width: 100%;
    height: 45px;
    color: #fff;
    background-color: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    transition: 0.4s ease;
}

.btnn:hover{
    background-color: #162938ea;
}

.register-link{
    color: #162938;
    text-align: center;
    margin: 10px 0 10px;
    font-weight: 500;
}

.register-link p a{
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;
}

.form-box span{
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-close1 , .icon-close2{
    position: absolute;
    right: 0;
    top: 0;
    width: 45px;
    height: 45px;
    background-color: #162938;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-bottom-left-radius: 20px;
    color: #fff;
    cursor: pointer;
    z-index: 1;
}

.login-register p{
    margin-left: 25px;
    margin-top: 30px;
}